.decade--page {
    flex-wrap: wrap;
    border-radius: 10px;
    max-height: 42em;
}

.decade--header {
    margin: 0px;
    height: 26em;
    background-color: rgb(87, 15, 87);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.decade--nav {
    background-color: rgba(0, 0, 0, 0.185);
    width: 100%;
    height: 5em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0px;
    position: fixed;
    display: flex;
}

.decade--arrowLeft{
    height: 1.5em;
    width: 1.5em;
    margin-top: 1.2em;
    margin-left: 1.5em;
    padding: .6em;
    border-radius: 180px;
    background-color: rgb(194, 194, 194);
    filter: invert(1);
}
.decade--arrowRight {
    height: 1.5em;
    width: 1.5em;
    margin-top: 1.2em;
    margin-left: .6em;
    padding: .6em;
    border-radius: 180px;
    background-color: rgb(194, 194, 194);
    filter: invert(1);
}

.h1--decade {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 25px;
    color: whitesmoke;
    font-size: 6.5em;
    padding-top: 2.25em;
    text-align: left;
}

.decade {
    background-image: linear-gradient( rgb(74, 13, 74), rgb(20, 20, 20)
    );
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 80em;  
    padding: .25%;

}
/*
.h2--decade {
    margin: 0;
    padding-top: .5em;
    text-indent: 30px;
    font-size: 2em;
    color: whitesmoke;
    background-color: rgb(74, 13, 74);
}*/