.genre--page {
    flex-wrap: wrap;
    border-radius: 10px;
    max-height: 42em;
}

.genre--header {
    margin: 0px;
    height: 26em;
    background-color: rgb(87, 15, 87);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.genre--nav {
    background-color: rgba(0, 0, 0, 0.185);
    width: 100%;
    height: 5em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0px;
    position: fixed;
    display: flex;
}

.genre--arrowLeft{
    height: 1.5em;
    width: 1.5em;
    margin-top: 1.2em;
    margin-left: 1.5em;
    padding: .6em;
    border-radius: 180px;
    background-color: rgb(194, 194, 194);
    filter: invert(1);

}
.genre--arrowRight {
    height: 1.5em;
    width: 1.5em;
    margin-top: 1.2em;
    margin-left: .6em;
    padding: .6em;
    border-radius: 180px;
    background-color: rgb(194, 194, 194);
    filter: invert(1);
}

.h1--genre {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 25px;
    color: whitesmoke;
    font-size: 6.5em;
    padding-top: 2.25em;
    text-align: left;
}

.genre {
    background-image: linear-gradient( rgb(74, 13, 74), rgb(20, 20, 20)
    );
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 80em;
    padding: .25%;

}

.h2--genre {
    margin: 0;
    padding-top: .5em;
    text-indent: 30px;
    font-size: 2em;
    color: whitesmoke;
    background-color: rgb(74, 13, 74);
    text-align: left;
}

.footer--p {
    padding-bottom: 2em;
}
@media screen and (max-width: 425px) {
    .genre--header {
        height: 16em; 
    }
    .h1--genre {
        font-size: 4em;
    }
    .h2--genre {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 375px) {
    .genre--header {
        height: 12em;
    }
    .h1--genre {
        font-size: 3em;
    }
    .h2--genre {
        font-size: 1.3em;
    }
    
}

@media screen and (max-width: 320px) {
    .genre--header {
        height: 8em;
    }
    .h1--genre {
        font-size: 2em;
    }
    .h2--genre {
        font-size: 1.2em;
    }
    
}