body{
    height: 100vh;
    overflow: hidden;
}

/*log in page */

.login {
text-align: center;
}
.logo--green {
    width: 50rem;
    margin-top: 20%;
}

.modal {
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.799);
    height: 90vh;
    width: 100%;
}

/* log in card */
.login--card {
    width: 30%;
    height: 90%;
    background-color: #191414;
    border: white double 2px;
    border-radius: 20px;
    text-align: center;
    color: whitesmoke;
    margin-left: 15%;
    margin-top: 1%;
    margin-bottom: 3%;
    position: absolute;
    top: 0px;
}
.login--img {
    width: 15rem;
    margin-top: 20%;
    margin-bottom: 5%;
}
.login--h2 {
    font-size: 1rem;
    margin-top: 10px;
}
input {
    text-indent: 5px;
    padding: 7px;
    border-radius: 20px;
    margin: 10px;
    width: 70%;
    background-color: rgb(29, 29, 29);
    color: whitesmoke;
    font-size: .8rem;
}

.div--remember {
    display: flex;
    margin-left: 13%;
    margin-right: 9%;
    justify-content: space-between;
    
}
#radio {
    width: 1rem;
    margin-left: 50%;
}

.login--div--button {
    text-align: center;
    justify-content: center;
    margin-top: 0rem;
}
.login--a--login {
    width: 100%;
    margin-left: 11%;
}
.login--button--login,
.login--button--facebook {
    background-color: #1db954;
    color: white;
    padding: 3%;
    border-radius: 20px;
    width: 75%;
    margin: 2%;
    cursor: pointer;
    font-weight: bolder;
    font-size: .75rem;
}
.login--div--button > p {
    margin-bottom: 7%;
    font-size: .8rem;
}

.login--hr {
    filter: invert(1);
    width: 85%;
    margin: auto;
    margin-top: 5rem;
    display: none;
}
strong {
    color: #1db954;
    cursor: pointer;
}
strong:hover {
    color: white;
}