:root {
    --spotify-green: filter: invert(1) contrast(40%) sepia(9) hue-rotate(100deg) saturate(1000%);
}

.musicPlayer {
    background-color: black;
    width: 100%;
    height: 5em;
    display: flex;
    margin-top: .3em;
}


/*left-section*/
.info--album {
    background-color: transparent;
    display: flex;
    width: 18rem;
}
.placeholder-2 {
    height: 3.5em;
    width: 3.5em;
    margin-left: .5em;
    margin-top: .5em;
    border-radius: 5px;
    cursor: pointer;
}

.up-down {
    width: 1em;
    height: 1em;
    padding: .3em;
    border-radius: 180px;
    margin-top: .7em;
    margin-left: -30px;
}
.up-down:hover {
    filter: invert(1);
    background-color: rgba(255, 255, 255, 0.765);
}

.info--album2 {
    margin-left: 1.5em;
}
.h3--info--album{
    color: whitesmoke;
    text-align: left;
    margin-bottom: 0em;
    margin-top: 1.2em;
    font-size: .9em;
}
.p--info--album {
    margin-top: .3em;
    text-align: left;
    color: rgba(245, 245, 245, 0.681);
    font-size: .7em;
    font-weight: 600;
}

.plus {
    filter: invert(.6);
    height: 1.2em;
}

.button--plus {
    background-color: black;
    border: none;
    width: 2em;
    height: 1.5em;
    margin-left: 17%;
    margin-top: 2em;
    cursor: pointer;
}

.picNpic {
    background-color: white;
    filter: invert(1);
    transform: scaleY(-1);
    margin-top: -.1em;
    margin-left: -.7em;
    height: 1.5em;
}
.picNpic:hover {
    cursor: pointer;
}

.button--pic {
    width: 1.5em;
    height: 1.5em;
    margin-left: 1em;
    margin-top: 2em;
    background-color: black;
    border: none;
}

/*middle-section*/
.player {
    background-color: transparent;
    flex: 1;
    text-align: center;
    display: flex;
    padding-left: 17%;
    padding-right: 17%;
}
.pause, .play {   
    filter: invert(.6);
    height: 2.5em;
}
.pause:hover, .play:hover {
    color: white;
    filter: invert(1);
}

.back {
    filter: invert(.6);
    height: 1.5em;
    margin-right: 1.5em;
    margin-bottom: .3em;
} 
.back:hover {
    color: white;
    filter: invert(1);
}
.forward {
    filter: invert(.6);
    height: 1.5em;
    margin-bottom: .3em;
}
.forward:hover {
    color: white;
    filter: invert(1);
}

.arrowRotateBack {
    filter: invert(.6);
    height: 1.1em;
    margin-right: 1.6em;
    margin-bottom: .4em;
}
.arrowRotateBack:hover {
    color: white;
    filter: invert(1);
}

.arrowRotateForward {
    filter: invert(.6);
    height: 1.1em;
    margin-bottom: .4em;
}
.arrowRotateForward:hover {
    color: white;
    filter: invert(1);
}

.button--player1 {
    border: none;
    width: 1.5em;
    margin-right: 1.75em;
    background-color: black;
}

.button--player2 {
    border: none;
    width: 2em;
    margin-right: 1.5em;
    background-color: black;
}

.button--player3 {
    border: none;
    background-color: black;
}

.button--player4 {
    border: none;
    background-color: black;
}

.button--player5 {
    border: none;
    width: 2em;
    margin-left: 1.5em;
    background-color: black;
}

.button--player6 {
    border: none;
    margin-left: 1.5em;
    width: 1.5em;
    background-color: black;
}


/*right-section*/
.info--right {
    width: 19.5em;
    background-color: transparent;
    display: flex;
    margin: 1em;
}
.player--right1 {
    filter: invert(.6);
    margin-top: .5em;
    height: 1.2em;
}
.player--right1:hover {
    color: white;
    filter: invert(1);
}
.player--right2 {
    filter: invert(.6);
    height: 1.1em;
    margin-top: .5em;
}
.player--right2:hover {
    color: white;
    filter: invert(1);
}
.player--right3 {
    filter: invert(.6);
    height: 1.1em;
    margin-top: .5em;
}
.player--right3:hover {
    color: white;
    filter: invert(1);
}
.player--right4 {
    filter: invert(.6);
    height: 1.1em;
    margin-top: .5em;
}
.player--right4:hover {
    color: white;
    filter: invert(1);
}
.player--right5 {
    filter: invert(.6);
    height: 1.1em;
    margin-top: .5em;
}
.player--right5:hover {
    filter: invert(1) contrast(40%) sepia(9) hue-rotate(100deg) saturate(1000%);
}

.button--r-player1 {
    background-color: black;
    border: none;
    height: 2.5em;
    margin-left: 1.5em;
}
.button--r-player2 {
    background-color: black;
    border: none;
    height: 2.5em;
}
.button--r-player3 {
    background-color: black;
    border: none;
    height: 2.5em;
}
.button--r-player4 {
    background-color: black;
    border: none;
    height: 2.5em;
}
.button--r-player5 {
    background-color: black;
    border: none;
    height: 2.5em;
    margin-left: 35%;
}

@media screen and (max-width: 1235px) {
    .player {
        padding-right: 10%;
        padding-left: 10%;

    }
}
@media screen and (max-width: 1024px) {
    /* left side */
    .h3--info--album {
        width: 5rem;
      }
      .button--plus {
        margin-left: 0px;
      }

    /* middle */
    .player{
        padding-left: 6%;
        padding-right: 6%;
    }
    
    /* right */
    .info--right {
        margin-right: 30px;
        width: 16.5em;

    }
}

@media screen and (max-width: 425px) {
    .musicPlayer {
        background-color: black;
        height: 3em;
        border-radius: 5px;
    }
    .placeholder-2 {
        height: 2.5em;
        width: 2.5em;
        margin-left: .3em;
        margin-top: .1em;
    }
    .info--album2 {
        margin-left: 10px;
    }
    .h3--info--album {
        margin-top: 3px;
    }
    .up-down,
    .button--pic,
    .button--plus,
    .button--player1,
    .button--player2,
    .button--player5,
    .button--player6 {
        display: none;
    }
    .button--player4 {
        margin-left: 4em;
        margin-right: 0em;
    }
    .info--right {
        display: none;
    }
}