p {
    color: whitesmoke;
}

.search--header {
    margin-top: 0px;
    height: 5em;
    background-color: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: none;
}


.search--nav {
    background-color: rgba(0, 0, 0, 0.185);
    width: 100%;
    height: 5em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0px;
    position: fixed;
    display: flex;
}

.search--arrowLeft{
    height: 1.5em;
    width: 1.5em;
    margin-top: 1.2em;
    margin-left: 1.5em;
    padding: .6em;
    border-radius: 180px;
    background-color: rgb(194, 194, 194);
    filter: invert(1);
}
.search--arrowRight {
    height: 1.5em;
    width: 1.5em;
    margin-top: 1.2em;
    margin-left: .6em;
    padding: .6em;
    border-radius: 180px;
    background-color: rgb(194, 194, 194);
    filter: invert(1);
}

.search--input {
    margin-left: .75%;
    margin-top: 1.3%;
    border-radius: 50px;
    border: none;
    height: 3em;
    width: 26em;
    text-indent: 20px;
    color: whitesmoke;
    background-color: rgb(55, 55, 55);
}

.search--h2 {
    margin: 0px;
    text-align: left;
    color: whitesmoke;
    margin-left: 2%;
    margin-right: 75%;
    margin-top: 1%;
}

.search--recent {
    background-color: none;
    display: flex;
}

.search--card {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
}

.search--h2browse {
    color: whitesmoke;
    text-align: left;
    margin-left: 2%;
}