.search--mobile--div {
    display: none;
}
p {
    color: whitesmoke;
}

.search--header {
    margin-top: 0px;
    height: 5em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: none;
}


.search--nav {
    background-color: rgba(0, 0, 0, 0.23);
    width: 100%;
    height: 5em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0px;
    position: fixed;
    display: flex;
}

.search--arrowLeft{
    height: 1.5em;
    width: 1.5em;
    margin-top: 1.2em;
    margin-left: 1.5em;
    padding: .6em;
    border-radius: 180px;
    background-color: rgb(194, 194, 194);
    filter: invert(1);
}
.search--arrowRight {
    height: 1.5em;
    width: 1.5em;
    margin-top: 1.2em;
    margin-left: .6em;
    padding: .6em;
    border-radius: 180px;
    background-color: rgb(194, 194, 194);
    filter: invert(1);
}

.search--input {
    margin-left: .75%;
    margin-top: 1.3%;
    border-radius: 50px;
    border: none;
    height: 3em;
    width: 26em;
    text-indent: 20px;
    color: whitesmoke;
    background-color: rgb(55, 55, 55);
}

.search--h2 {
    margin: 0px;
    text-align: left;
    width: 90%;
    color: whitesmoke;
    margin-left: 2%;
    margin-top: 1%;
}

.search--recent {
    background-color: none;
    display: flex;
}

.search--card {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
}

.search--h2browse {
    color: whitesmoke;
    text-align: left;
    margin-left: 2%;
}

@media screen and (max-width: 425px) {
    /*.side {
        display: none;
    }*/
    .search--nav {
        display: none;
    }
    .search--header {
        display: none;
    }
    .search--mobile--div {
        text-align: left;
        display: block;
    }
    .search--mobile--h2 {
        color: whitesmoke;
        background-color: transparent;
        margin-left: 12px;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .link--mobileSearch {
        width: 100%;
    }
    .search--mobile--input {
        background-color: white;
        width: 98%;
        font-size: .8rem;
        color: black;
        border-radius: 7px;
        text-align: left;
        margin-top:5px;
        margin-right: 0px;
        margin-left: 5px;
    }
    .search--arrowLeft,
    .search--arrowRight {
        display: none;
    }
    .search--recent {
        display: none;
    }

    .search--input {
        border-radius: 10px;
        border: none;
        height: 2em;
        width: 22em;
        text-indent: 20px;
        color: whitesmoke;
        background-color: rgb(55, 55, 55);
        position: absolute;
        top: 0px;
        display: none;
    }

    /* mobilesSearch*/
    .search--line {
        display: flex;
    }
    .search--line--input {
        width: 77%;
        font-size: .9rem;
    }
    .button--search {
        background-color: transparent;
        border:none;
        color: whitesmoke;
        width: 3rem;
        margin: 0px;
        padding: 0px;

    }

    .h3--mobileSearch {
        color: whitesmoke;
    }
    .info--mobileSearch {
        width: 60%;
        margin: auto;
        margin-top: 8rem;
    }
}

@media screen and (max-width: 375px) {
    .search--line--input {
        width: 75%;
        font-size: .85rem;

    }
}

@media screen and (max-width: 320px) {
    .search--line--input {
        width: 70%;

    }
}