.top500--page {
    flex-wrap: wrap;
    border-radius: 10px;
}

.top500--header {
    margin: 0px;
    height: 26em;
    background-color: rgb(26, 177, 106);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.top500--nav {
    background-color: rgba(0, 0, 0, 0.185);
    width: 100%;
    height: 5em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0px;
    position: fixed;
    display: flex;
}

.top500--arrowLeft{
    height: 1.5em;
    width: 1.5em;
    margin-top: 1.2em;
    margin-left: 1.5em;
    padding: .6em;
    border-radius: 180px;
    background-color: rgb(194, 194, 194);
    filter: invert(1);
}
.top500--arrowRight {
    height: 1.5em;
    width: 1.5em;
    margin-top: 1.2em;
    margin-left: .6em;
    padding: .6em;
    border-radius: 180px;
    background-color: rgb(194, 194, 194);
    filter: invert(1);
}

.h1--top500 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 25px;
    color: whitesmoke;
    font-size: 6.5em;
    padding-top: 2.25em;
    text-align: left;
}

.top500 {
    background-image: linear-gradient( rgba(26, 177, 107, 0.904), rgb(20, 20, 20)
    );
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 80em;  
    padding: .25%;
}

@media screen and (max-width: 425px) {
    .top500--header {
        height: 16em;
    }

    .h1--top500 {
        font-size: 4em;
    }
}
@media screen and (max-width: 375px) {
    .top500--header {
        height: 12em;
    }

    .h1--top500 {
        font-size: 3em;
    }
}
@media screen and (max-width: 320px) {
    .top500--header {
        height: 8em;
    }
    .h1--top500 {
        font-size: 2em;
    }
}